<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <!-- <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"> -->
</head>
<body>
  <article>
    {{ content }}
  </article>

  <nav class="pagination">
    {% assign pages_sorted = site.tutorial | sort: 'order' %}
    {% assign current_index = nil %}
    
    {% for p in pages_sorted %}
      {% if p.url == page.url %}
        {% assign current_index = forloop.index0 %}
      {% endif %}
    {% endfor %}

    {% assign previous_index = current_index | minus: 1 %}
    {% assign next_index = current_index | plus: 1 %}
    {% if previous_index >= 0 %}
      <a href="{{ site.baseurl }}{{ pages_sorted[previous_index].url }}" class="btn btn-primary">&laquo; Previous: {{ pages_sorted[previous_index].title }}</a>
    {% endif %}
    {% if next_index < pages_sorted.size %}
      <a href="{{ site.baseurl }}{{ pages_sorted[next_index].url }}" class="btn btn-primary">Next: {{ pages_sorted[next_index].title }} &raquo;</a>
    {% endif %}

  </nav>
</body>
</html>
